/* fonts CDN */
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;500;600;700&family=Tangerine:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Anuphan', sans-serif;
}

.text-tangerine {
  font-family: 'Tangerine', cursive;
}

.c-header{
  background-color: #e37104;
}

.toggle-mode{
  cursor: pointer;
}